
.cards-container {
    display: flex;
    border-radius: 6px;
    color: #333;
    background: #eee;
    padding: 1rem;
    /*box-shadow: 0 0 1rem #000 inset;*/
    overflow-x: auto;
    position: relative;
}
.cards-container::-webkit-scrollbar {
    display: none;
}